body {
    width: 100%;
    margin:0;
    padding: 0;
}

#main {
    margin: auto;
    padding: 10px;
    width: 80%;
    background-color: mediumspringgreen;
}

header {
    width: 100%;
}

#menu_gauche {
    float: left;
    width: 20%;
    background-color: black;
    color: floralwhite;
}

#contenu {
    float: left;
    width: 80%;
    background-color: cyan;
}

footer {
    clear: both;
}

#hamburger_menu > a {

    display: inline-block;
    width: auto;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;

}

#hamburger_menu > span {

    display: none;
    text-align: center;
    line-height: 5px;
    padding-bottom: 20px;

}


@media (max-width: 1388px) {

#main {
    width: 100%;
}

}

@media (max-width: 812px) {

    #main {
        width: 100%;
    }

    #menu_gauche {
        width: 100%;
    }

    #contenu {
        width: 100%;
    }

    #hamburger_menu > a {
        display: none;
    }

    #hamburger_menu > span {
        display: inline-block;
    }

    #hamburger_menu:hover > a {
        width: 80%;
        display: block;
        margin: 10px auto;
    }

    #hamburger_menu:hover > span {

        transform: rotate(90deg);
        transition-property: transform;
        transition-duration: 0.5s;
    }
}